@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,500;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-1: #eb233c;
    --color-2: #eb233a2a;
    --color-3: black;
    --color-4: #eb233a1a;
    --color-5: #1c1a32;

    --text-color-1: white;
    --text-color-2: #dbdfe9;
    --border-radius-1: 5px;
}

html{
    font-size: 16px;
    font-family: 'Chakra Petch', sans-serif;
    scroll-behavior: smooth;
}
body{
    min-height: 100vh;
    counter-reset: item;
    counter-reset: section;
    
    background-color: var(--color-5);
    overflow: hidden;
}
body::-webkit-scrollbar {
    width: 7px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-1);    /* color of the scroll thumb */
    border-radius: var(--border-radius-1);       /* roundness of the scroll thumb */
}
/* solución de animaciones */
.greeting_profile, .name_profile, .description_profile, .container_section_information, .conteiner_card_proyect, .container_subtitle_cards, .proyect_card,
.item_menu, .container_logo, .container_lateral, .item_link_footer, .text_footer_author, .button_menu{
    visibility: hidden;
}

.header{
    width: 100%;
    padding: 15px 30px;

    display: flex;
    justify-content: space-between;
    align-items: center; 

    position: fixed;
    top: 0;
    left: 0;

    z-index: 1;

    backdrop-filter: blur(10px);
    transition: .3s linear;
}
.container_navegation{
    width: 50%;
    min-width: 600px;
    max-width: 700px;
}
.menu ul{
    list-style: none;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu ul li{
    counter-increment: item 1;
}
.item_menu_link, .button_cv_resumen{
    text-decoration: none;
    color: var(--text-color-1);
    text-transform: capitalize;
    font-weight: 500;
    transition: .3s ease;
}

.item_menu_link::before{
    content: "0" counter(item) ".";;
    margin-right: 5px;
    color: var(--color-1);
}
.item_menu_link:hover{
    color: var(--color-1);
}

.button_cv_resumen{
    padding: 10px;
    border: 2px solid var(--color-1);
    border-radius: 5px;
    color: var(--color-1);
    font-weight: 700;
    transition: .5s ease-in-out;
}
.button_cv_resumen:hover{
    background-color: var(--color-2);
}
/* css del logo */
.container_logo{
    width: 50px;
    min-width: 50px;
    z-index: 1;
}
.container_logo img{
    width: 100%;
}

/* css de los laterales */
.container_lateral{
    padding: 0px 30px;
    
    position: fixed;
    bottom: 0;

}
.container_lateral::after{
    content: "";
    width: 2px;
    height: 100px;
    display: block;

    background-color: var(--color-1);
    
    margin: 0 auto;
}
.container_lateral a{
    color: black;
    text-decoration: none;
    transition: .3s ease;

    color: var(--text-color-2);
}
.container_lateral a:hover{
    color: var(--color-1);
}
.container_lateral ul{
    list-style: none;
}
.container_lateral ul li{
    margin: 15px 0px;
    transition: .3s ease;
}
.container_lateral ul li:hover{
    transform: translateY(-5px);
}
.side_izq{
    left: 0;
}
.side_der{
    right: 0;
}
.side_der a{
    margin-bottom: 15px;
    writing-mode: vertical-lr;
    letter-spacing: .1rem;
}
.email_author{
    font-size: 1.1rem;
    transition: .3s ease;
}
.email_author:hover{
    transform: translateY(-5px);
}


/* css del button menu responsive */
.container_button_menu_responsive{
    display: none;
}
.button_menu{
    background: none;
    border: none;
    color: var(--text-color-1);

    position: relative;
    cursor: pointer;
}
.active_header{
    transform: translateY(0%);
    box-shadow: 0 10px 30px -15px rgba(0,0,0,0.75);
}
.desactive_header{
    transform: translateY(-110%);
}
.ocultar_box_shadow{
    box-shadow: none;
}

